html{
    scroll-behavior: smooth;
}
body {
    font-family: "Space Grotesk", "Noto Sans", sans-serif;
    background-color: #F0F0F0;
    overflow-x: hidden;
    min-height: 100vh;
    color: #201a09;
    text-align: justify;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.category-article .table-container,#logonavcomb {
  display: none;
}
.bold,#subcategory-container p{
  font-weight: bold;
  font-size: 1rem;
}
/*Home page styling*/
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: fixed;
    z-index: 500;
    
  }
  /* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown content (hidden by default) */
.subcategories {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.subcategories a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subcategories a:hover {
  background-color:#ffdfc0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .subcategories {
  display: block;
}
  .category-nav{
    background-color: black;
    width: 100%;
  }
 
  .category-links{
    display: flex;
    justify-content: flex-end;
  }
  .dropdown .active{
   color: #F76902;
  } 
  .dropdown .active:hover,.subcategories a:hover .active{
    color: white;
    background-color: #F76902;
  }
  .dropdown:hover .category-link{
    background-color: #F76902;
  }  
/* Dropdown button */
.category-link {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.category-link:hover{
  cursor: pointer;
  background-color: #F76902;
}
  .logonavcomb{
    background-color: #F76902;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #201a09;
    margin-left: 16px;
  }
  
.logo-icon {

    height: 2rem;
  }
  
  .site-title {
    color: #201A09;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
  }
  
  .nav-links {
    display: flex;
    width: 80%;
    justify-content: flex-end;
  }
  
  .nav-links a {
    color: #201A09;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 16px;
  }
  .nav-links a:hover{
    background-color: black;
    color: #fff;
  }
  .main-content {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 2.5rem 0%;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    width: 97.5%;
    margin: auto;
  }
  
  .intro-section {
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    align-items:center;
    width: 97%;
    margin: auto;
    justify-content: space-between;
  }
  
  .intro-image {
    width: 35%;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.75rem;
  }
  
  .intro-text {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .intro-subtitle {
    color: #201a09;
    margin: 0px;
  }
  
  .latest-title {
    color: #201a09;
    font-size: 1.375rem;
    font-weight: bold;
    padding: 1rem 0;
    margin: 0;
  }
  
  .article-container {
    padding: 1rem;
  }
  
  article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .category-article{
    flex-direction: column;
    align-items: flex-start;
  }
  .article-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 2;
  }
  
  .article-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
  
  .article-text p {
    color: #201a09;
    margin: 0;
  }
  
  .article-image {
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 0.75rem;
    flex: 1;
  }
.category-parent-con{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
  .category-box{
    width: 18%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
    color: #fff;
    padding: 5% 0%;
    cursor: pointer;
    font-weight: 700;
    position: relative;
  }
  .category-box .hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(246, 105, 2,0.7); /* Change this color as needed */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .category-box:hover .hover-effect {
    opacity: 1;
  }
  .category-box p{
    position: absolute;
    bottom: 0%;
    left: 2%;
    margin: 0px auto;
    text-align:center;
    z-index: 100;
  }
  
  .lib{
    background-image: url(./Images/library.jpeg);
  }
  .uni{
    background-image: url(./Images/university.jpg);
  }
  .edu{
    background-image: url(./Images/education.jpg);
  }
  .egov{
    background-image: url(./Images/e\ government.jpg);
  }
  .sm{
    background-image: url(./Images/social\ media.jpg);
  }
  .subcategory-container {
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
    width: 80%;
    margin-bottom: 0px;
  }
  .subcategory-box{
    width: 30%;
  }
/*Footer styling*/
  .footer {
    background-color: #ffdfc0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
  
  .footer-column {
    padding: 2rem 0%;
    width:95%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items:flex-start;
  }
  
  
  .footer-nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
  }
  
  .footer-nav-links a {
    color: #201a09;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
  }
  
  .contact-title {
    color: #F76902;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
  }
  
  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
  }
  
  .contact-links a {
    color: #201a09;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
  }

  .contact-links a:hover, .footer-nav-links a:hover{
    cursor: pointer;
    text-decoration: underline;
  }  
.creator-con{
    width: 100vw;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #201a09;
}
  .footer-title {
    margin:5px auto;
    color: #F76902;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }

  .creator-name {
    margin:2.5px auto 7.5px auto;
    color: #201a09;
    font-size: 16px;
    font-weight: 500;
  }
  .creator-name:hover{
    cursor: pointer;
    text-decoration: underline;
  }

/*Commonerrors page styling*/
.body-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
}
.heading-section{
    margin: auto;
    width: 100%;
}
.con-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem .5rem 0rem;
    justify-content: space-between;
}

.intro-title {
    color: #F76902;
    font-size: 32px;
    font-weight: 900;
    margin: 0px;
}
.section-con{
  width: 100%;
  border-bottom: 1px solid #201A09;
}
.section-head {
  margin: 0% auto;
  color: #201A09;
  
  font-weight: bold;
background-color: #ffbf81;
flex-direction: row;
width: 100%;
text-align: center;
padding: .5rem 0rem;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.dummy{
  width: 10%;
}
.section-title{
  width: 50%;
  font-size: 24px;
}
.section-title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.toggle-icon {
  width: 10%;
  font-size: 28px;
}
.section-text {
    color: #201a09;
    font-weight: normal;
    display: flex;
  align-items:flex-start;
  flex-direction: column;
  width: 100%;
}
.error-item{
  border-bottom: 1px solid #201a0980;
}
.section-text div{
  margin: .5rem; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  
}
.section-text a{
  text-decoration: none;
  color: #201A09;
  font-weight: bold;
}
.section-text a:hover{
  text-decoration: underline;
  color: #F76902;
  
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin: 2% auto;
    border-top: 1px solid #201A09;
    border-right: 1px solid #201A09;
    border-left: 1px solid #201A09;
  }

/*List page styling*/
.main-content{
    width: 100%;
} 
.search-label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-container {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 48px;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    background-color: #F5EFDB;
    border-radius: 12px 0 0 12px;
}

.search-input {
    flex: 1;
    padding: 0 16px;
    border: none;
    background-color: #F5EFDB;
    color: #201A09;
    border-radius: 0 12px 12px 0;
    font-size: 1rem;
    outline: none;
}

/* Filter styles */
.filter-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;
    width: 100%;
}
.select-filter{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 35%;
}
.select-filter label{
    font-weight: bold;
}
.select-filter select{
padding: .7rem;
width: 70%;
font-size: 1rem;
border-style: none;
border-radius: 0.75rem;
cursor: pointer;
background-color: #e7e7e7;
font-weight: bold;
font-family: "Space Grotesk", "Noto Sans", sans-serif;
border: 1.5px solid darkgray;
margin-left: 2.5%;
}
.select-filter select:focus{
    outline: none;
}
/* Button styles */
.filter-btn,.read-more,.subcategory-box {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        padding: .7rem;
        background-color: #F76902;
        color: #201A09;
        font-size: 1rem;
        font-weight: bold;
        border-style: none;
        font-family: "Space Grotesk", "Noto Sans", sans-serif;
}
.read-more:hover,.filter-btn:hover,.subcategory-box:hover{
    text-decoration: underline;
  }
  .read-more:active,.filter-btn:active,.subcategory-box:active{
    text-decoration: underline;
    background-color: #201A09;
    color: #fff;
  }
  .filter-btn{
    width: 10%;
    
  }
  .read-more{
    width: 20%;
  }

  /* Table styles */
.table-container {
    width: 100%;
    margin: 1rem auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    
}
.table-header {
    background-color: #ffbf81;  
}
.table-header th{
    font-weight: bold;
}
.table-column {
    padding: 16px;
    color: #201A09;
    font-size: 14px;
    border: 1px solid #201A09;
}
.main-col{
  margin: auto;
}
.site-link{
    color: #201A09;
    text-decoration: none;
    font-weight: bold;
}
.site-link:hover{
    text-decoration: underline;
    color: #F76902;
    cursor: pointer;
}

.radio-filter{
    display: flex;
    margin: 1% 0%;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.mission{
  margin-top: 1%;
}